@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*{
    font-family: 'Roboto', sans-serif;  
}

body {
    background-image: url("40944.jpg");
    background-color: #c24545;
   }

.navbar{
    background-color: #FFF7D1; /* Hilangkan tanda kurung */
}

.content {
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    align-self: stretch;
    border-radius: 15px;
    border: 1px solid #FFD09B; /* Hilangkan tanda kurung */
    background-color: #FFF7D1; /* Hilangkan tanda kurung */
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.title {
    color: #262730; /* Ganti var() dengan nilai langsung */
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 48px */
}


.write{
    color: #1E1E1E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subheader{
    color: #262730;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 22.4px */
}

.error-message {
    color: red;
    font-size: 16px;
    font-style: italic;
    background-color: #ffd1d1;
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}